@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/tables";

$color-dark: #004e66;
$color-bg: #e1eef6;
$color-normal: #fcbe32;
$color-colorful: #ff5f2e;

$left-gap: 30px;
$font-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

